[

[ (MethodDeclaration ?signature ?method)
  [?methodDeclaration :MethodDeclaration/signature ?signature]
  [?methodDeclaration :MethodDeclaration/ref ?method] ]

[ (Reachable ?method) 
  [?implicitReachable :ImplicitReachable/sig ?method] ]

[ (Reachable ?clinit)
  [?initializedClass :InitializedClass/classOrInterface ?class]
  [?classInitializer :ClassInitializer/type ?class]
  [?classInitializer :ClassInitializer/method ?clinit] ] 

[ (Reachable ?method)
  [?mainMethodDeclaration :MainMethodDeclaration/method ?method] ]

[ (Reachable ?tomethod)
  (Reachable ?inmethod)
  [?staticMethodInvocation :StaticMethodInvocation/inmethod ?inmethod]
  [?staticMethodInvocation :StaticMethodInvocation/invocation ?invocation]
  [?staticMethodInvocation :StaticMethodInvocation/signature ?signature]   
  (MethodDeclaration ?signature ?tomethod) ]

[ (CallGraphEdge ?invocation ?tomethod)
  (Reachable ?inmethod)
  [?staticMethodInvocation :StaticMethodInvocation/inmethod ?inmethod]
  [?staticMethodInvocation :StaticMethodInvocation/invocation ?invocation]
  [?staticMethodInvocation :StaticMethodInvocation/signature ?signature]   
  (MethodDeclaration ?signature ?tomethod) ]	

]
