[
[ (VarType ?var ?type)
  [?varType :Var-Type/ref ?var]
  [?varType :Var-Type/type ?type] ]

[ (ThisVar ?method ?this)
  [?thisVar :ThisVar/method ?method]
  [?thisVar :ThisVar/var ?this] ]

[ (HeapAllocationType ?heap ?type)
  [?heapAllocationType :HeapAllocation-Type/heap ?heap]
  [?heapAllocationType :HeapAllocation-Type/type ?type] ]

[ (MethodDeclaration ?signature ?method)
  [?methodDeclaration :MethodDeclaration/signature ?signature]
  [?methodDeclaration :MethodDeclaration/ref ?method] ]

[ (AssignCompatible ?target ?source)
  [?assignCompatible :AssignCompatible/target ?target]
  [?assignCompatible :AssignCompatible/source ?source] ]

[ (ComponentType ?arrayType ?componentType)
  [?componentType :ComponentType/arrayType ?arrayType]
  [?componentType :ComponentType/componentType ?componentType] ]

[ (Reachable ?method)
  [?mainMethodDeclaration :MainMethodDeclaration/method ?method] ]

[ (Reachable ?method) 
  [?implicitReachable :ImplicitReachable/sig ?method] ]

[ (Reachable ?clinit)
  [?initializedClass :InitializedClass/classOrInterface ?class]
  [?classInitializer :ClassInitializer/type ?class]
  [?classInitializer :ClassInitializer/method ?clinit] ] 

[ (Reachable ?tomethod)
  (CallGraphEdge _ ?tomethod) ]

[ (CallGraphEdge ?invocation ?tomethod)
  (Reachable ?inmethod)
  [?virtualMethodInvocation :VirtualMethodInvocation/inmethod ?inmethod]  
  [?virtualMethodInvocation :VirtualMethodInvocation/invocation ?invocation]
  [?virtualMethodInvocation :VirtualMethodInvocation/signature ?signature]
  [?virtualMethodInvocationBase :VirtualMethodInvocation-Base/invocation ?invocation]
  [?virtualMethodInvocationBase :VirtualMethodInvocation-Base/base ?base] 
  [?methodSignatureSimplename :MethodSignature-SimpleName/signature ?signature]
  [?methodSignatureSimplename :MethodSignature-SimpleName/simplename ?simplename]
  [?methodSignatureDescriptor :MethodSignature-Descriptor/signature ?signature]
  [?methodSignatureDescriptor :MethodSignature-Descriptor/descriptor ?descriptor]
  (VarPointsTo ?heap ?base)
  (HeapAllocationType ?heap ?type)
  [?methodLookup :MethodLookup/simplename ?simplename]
  [?methodLookup :MethodLookup/descriptor ?descriptor]
  [?methodLookup :MethodLookup/type ?type]
  [?methodLookup :MethodLookup/method ?tomethod] ]

[ (CallGraphEdge ?invocation ?tomethod)
  (Reachable ?inmethod)
  [?specialMethodInvocationIn :SpecialMethodInvocation-In/inmethod ?inmethod]
  [?specialMethodInvocationIn :SpecialMethodInvocation-In/invocation ?invocation]
  [?specialMethodInvocationBase :SpecialMethodInvocation-Base/invocation ?invocation]
  [?specialMethodInvocationBase :SpecialMethodInvocation-Base/base ?base]
  (VarPointsTo _ ?base)
  [?specialMethodInvocationSignature :SpecialMethodInvocation-Signature/invocation ?invocation]
  [?specialMethodInvocationSignature :SpecialMethodInvocation-Signature/signature ?signature]
  (MethodDeclaration ?signature ?tomethod) ]

[ (CallGraphEdge ?invocation ?tomethod)
  (Reachable ?inmethod)
  [?staticMethodInvocation :StaticMethodInvocation/inmethod ?inmethod]
  [?staticMethodInvocation :StaticMethodInvocation/invocation ?invocation]
  [?staticMethodInvocation :StaticMethodInvocation/signature ?signature]   
  (MethodDeclaration ?signature ?tomethod) ]	
    
[ (VarPointsTo ?heap ?var)
  (Reachable ?inmethod)
  [?assignNormalHeapAllocation :AssignNormalHeapAllocation/inmethod ?inmethod]
  [?assignNormalHeapAllocation :AssignNormalHeapAllocation/heap ?heap]
  [?assignNormalHeapAllocation :AssignNormalHeapAllocation/var ?var] ]

[ (VarPointsTo ?heap ?var)
  (Reachable ?inmethod)
  [?assignAuxiliaryHeapAllocation :AssignAuxiliaryHeapAllocation/inmethod ?inmethod]
  [?assignAuxiliaryHeapAllocation :AssignAuxiliaryHeapAllocation/heap ?heap]
  [?assignAuxiliaryHeapAllocation :AssignAuxiliaryHeapAllocation/var ?var] ]

[ (VarPointsTo ?heap ?var)
  (Reachable ?inmethod)
  [?assignContextInsensitiveHeapAllocation :AssignContextInsensitiveHeapAllocation/inmethod ?inmethod]
  [?assignContextInsensitiveHeapAllocation :AssignContextInsensitiveHeapAllocation/heap ?heap]
  [?assignContextInsensitiveHeapAllocation :AssignContextInsensitiveHeapAllocation/var ?var] ]

[ (VarPointsTo ?heap ?this)
  (Reachable ?inmethod)
  [?virtualMethodInvocation :VirtualMethodInvocation/inmethod ?inmethod] 
  [?virtualMethodInvocation :VirtualMethodInvocation/invocation ?invocation]
  [?virtualMethodInvocation :VirtualMethodInvocation/signature ?signature]
  [?virtualMethodInvocationBase :VirtualMethodInvocation-Base/invocation ?invocation]
  [?virtualMethodInvocationBase :VirtualMethodInvocation-Base/base ?base]   
  (VarPointsTo ?heap ?base)
  [?methodSignatureSimplename :MethodSignature-SimpleName/signature ?signature]
  [?methodSignatureSimplename :MethodSignature-SimpleName/simplename ?simplename]
  [?methodSignatureDescriptor :MethodSignature-Descriptor/signature ?signature]
  [?methodSignatureDescriptor :MethodSignature-Descriptor/descriptor ?descriptor]
  (HeapAllocationType ?heap ?type)
  [?methodLookup :MethodLookup/simplename ?simplename]
  [?methodLookup :MethodLookup/descriptor ?descriptor]   
  [?methodLookup :MethodLookup/type ?type]                         
  [?methodLookup :MethodLookup/method ?tomethod]
  (ThisVar ?tomethod ?this) ]

[ (VarPointsTo ?heap ?this)
  (Reachable ?inmethod)
  [?specialMethodInvocationIn :SpecialMethodInvocation-In/inmethod ?inmethod]
  [?specialMethodInvocationIn :SpecialMethodInvocation-In/invocation ?invocation]
  [?specialMethodInvocationBase :SpecialMethodInvocation-Base/invocation ?invocation]
  [?specialMethodInvocationBase :SpecialMethodInvocation-Base/base ?base]
  (VarPointsTo ?heap ?base)
  [?specialMethodInvocationSignature :SpecialMethodInvocation-Signature/invocation ?invocation]
  [?specialMethodInvocationSignature :SpecialMethodInvocation-Signature/signature ?signature]
  (MethodDeclaration ?signature ?tomethod)
  (ThisVar ?tomethod ?this) ]

[ (VarPointsTo ?heap ?to)
  (Reachable ?inmethod)
  [?assignLocal :AssignLocal/inmethod ?inmethod]
  [?assignLocal :AssignLocal/to ?to]
  [?assignLocal :AssignLocal/from ?from]
  (VarPointsTo ?heap ?from) ]

[ (VarPointsTo ?heap ?to)
  (Reachable ?inmethod)
  [?loadInstanceField :LoadInstanceField/inmethod ?inmethod]
  [?loadInstanceField :LoadInstanceField/sig ?fieldsig]
  [?loadInstanceField :LoadInstanceField/base ?base]
  [?loadInstanceField :LoadInstanceField/to ?to]
  (VarPointsTo ?heapbase ?base)
  (InstanceFieldPointsTo ?heapbase ?fieldsig ?heap) ]

[ (VarPointsTo ?heap ?to)
  (Reachable ?inmethod)
  [?loadStaticField :LoadStaticField/inmethod ?inmethod]
  [?loadStaticField :LoadStaticField/sig ?fieldsig]
  [?loadStaticField :LoadStaticField/to ?to]
  (StaticFieldPointsTo ?fieldsig ?heap) ]

[ (VarPointsTo ?heap ?to)
  (Assign ?type ?from ?to)
  (VarPointsTo ?heap ?from)
  (HeapAllocationType ?heap ?heaptype)
  (AssignCompatible ?type ?heaptype) ]

[ (VarPointsTo ?heap ?to)
  (Reachable ?inmethod)
  [?loadArrayIndex :LoadArrayIndex/inmethod ?inmethod]                    
  [?loadArrayIndex :LoadArrayIndex/to ?to]
  [?loadArrayIndex :LoadArrayIndex/base ?base]
  (VarPointsTo ?heapbase ?base)
  (ArrayIndexPointsTo ?heapbase ?heap)
  (VarType ?to ?type)
  (HeapAllocationType ?heapbase ?heapbasetype)
  (ComponentType ?heapbasetype ?basecomponenttype)
  (AssignCompatible ?type ?basecomponenttype) ]            
              
[ (Assign ?type ?from ?to)
  (Reachable ?inmethod)
  [?assignCast :AssignCast/inmethod ?inmethod]
  [?assignCast :AssignCast/type ?type]
  [?assignCast :AssignCast/from ?from]
  [?assignCast :AssignCast/to ?to] ] 

[ (Assign ?type ?actual ?formal) 
  (CallGraphEdge ?invocation ?method)
  [?formalParam :FormalParam/method ?method]
  [?formalParam :FormalParam/index ?index]
  [?formalParam :FormalParam/var ?formal]
  [?actualParam :ActualParam/invocation ?invocation]
  [?actualParam :ActualParam/index ?index]
  [?actualParam :ActualParam/var ?actual]
  (VarType ?formal ?type) ]

[ (Assign ?type ?return ?local)
  (CallGraphEdge ?invocation ?method)
  [?assignReturnValue :AssignReturnValue/invocation ?invocation]
  [?assignReturnValue :AssignReturnValue/to ?local]
  [?returnVar :ReturnVar/method ?method] 
  [?returnVar :ReturnVar/var ?return]
  (VarType ?local ?type) ]

[ (StaticFieldPointsTo ?fieldsig ?heap)
  (Reachable ?inmethod)
  [?storeStaticField :StoreStaticField/inmethod ?inmethod]                   
  [?storeStaticField :StoreStaticField/signature ?fieldsig]
  [?storeStaticField :StoreStaticField/from ?from]
  (VarPointsTo ?heap ?from) ]

[ (InstanceFieldPointsTo ?heapbase ?fieldsig ?heap)
  (Reachable ?inmethod)
  [?storeInstanceField :StoreInstanceField/inmethod ?inmethod]
  [?storeInstanceField :StoreInstanceField/base ?base]
  [?storeInstanceField :StoreInstanceField/from ?from]
  [?storeInstanceField :StoreInstanceField/signature ?fieldsig]
  (VarPointsTo ?heapbase ?base)
  (VarPointsTo ?heap ?from) ] 
  
[ (ArrayIndexPointsTo ?heapbase ?heap)
  (Reachable ?inmethod)
  [?storeArrayIndex :StoreArrayIndex/inmethod ?inmethod]
  [?storeArrayIndex :StoreArrayIndex/from ?from]
  [?storeArrayIndex :StoreArrayIndex/base ?base]
  (VarPointsTo ?heapbase ?base)
  (VarPointsTo ?heap ?from)
  (HeapAllocationType ?heap ?heaptype)
  (HeapAllocationType ?heapbase ?heapbasetype)
  (ComponentType ?heapbasetype ?componenttype)
  (AssignCompatible ?componenttype ?heaptype) ]   
]