[
[ (VarType ?var ?type)
  [?varType :Var-Type/ref ?var]
  [?varType :Var-Type/type ?type] ]

[ (ThisVar ?method ?this)
  [?thisVar :ThisVar/method ?method]
  [?thisVar :ThisVar/var ?this] ]

[ (HeapAllocationType ?heap ?type)
  [?heapAllocationType :HeapAllocation-Type/heap ?heap]
  [?heapAllocationType :HeapAllocation-Type/type ?type] ]

[ (MethodDeclaration ?signature ?method)
  [?methodDeclaration :MethodDeclaration/signature ?signature]
  [?methodDeclaration :MethodDeclaration/ref ?method] ]

[ (AssignCompatible ?target ?source)
  [?assignCompatible :AssignCompatible/target ?target]
  [?assignCompatible :AssignCompatible/source ?source] ]

[ (ComponentType ?arrayType ?componentType)
  [?componentType :ComponentType/arrayType ?arrayType]
  [?componentType :ComponentType/componentType ?componentType] ]

[ (Reachable ?method)
  [?mainMethodDeclaration :MainMethodDeclaration/method ?method] ]

[ (Reachable ?method) 
  [?implicitReachable :ImplicitReachable/sig ?method] ]

[ (Reachable ?clinit)
  [?initializedClass :InitializedClass/classOrInterface ?class]
  [?classInitializer :ClassInitializer/type ?class]
  [?classInitializer :ClassInitializer/method ?clinit] ] 

[ (VirtualMethodInvocation ?invocation ?signature ?inmethod)
  [?virtualMethodInvocation :VirtualMethodInvocation/inmethod ?inmethod]  
  [?virtualMethodInvocation :VirtualMethodInvocation/signature ?signature]
  [?virtualMethodInvocation :VirtualMethodInvocation/invocation ?invocation] ]

[ (VirtualMethodInvocationBase ?invocation ?base )
  [?virtualMethodInvocationBase :VirtualMethodInvocation-Base/base ?base]
  [?virtualMethodInvocationBase :VirtualMethodInvocation-Base/invocation ?invocation] ]

[ (SpecialMethodInvocationIn ?invocation ?inmethod) 
  [?specialMethodInvocationIn :SpecialMethodInvocation-In/inmethod ?inmethod]
  [?specialMethodInvocationIn :SpecialMethodInvocation-In/invocation ?invocation] ]

[ (SpecialMethodInvocationBase ?invocation ?base)
  [?specialMethodInvocationBase :SpecialMethodInvocation-Base/base ?base]
  [?specialMethodInvocationBase :SpecialMethodInvocation-Base/invocation ?invocation] ]

[ (SpecialMethodInvocationSignature ?invocation ?signature)
  [?specialMethodInvocationSignature :SpecialMethodInvocation-Signature/signature ?signature]
  [?specialMethodInvocationSignature :SpecialMethodInvocation-Signature/invocation ?invocation] ]

[ (StaticMethodInvocation ?invocation ?signature ?inmethod)
  [?staticMethodInvocation :StaticMethodInvocation/inmethod ?inmethod]
  [?staticMethodInvocation :StaticMethodInvocation/signature ?signature]
  [?staticMethodInvocation :StaticMethodInvocation/invocation ?invocation] ]

[ (MethodSignatureSimplename ?signature ?simplename)
  [?methodSignatureSimplename :MethodSignature-SimpleName/simplename ?simplename]
  [?methodSignatureSimplename :MethodSignature-SimpleName/signature ?signature] ]
  
[ (MethodSignatureDescriptor ?signature ?descriptor)
  [?methodSignatureDescriptor :MethodSignature-Descriptor/descriptor ?descriptor]
  [?methodSignatureDescriptor :MethodSignature-Descriptor/signature ?signature] ]

[ (MethodLookup ?simplename ?descriptor ?type ?tomethod)
  [?methodLookup :MethodLookup/method ?tomethod]
  [?methodLookup :MethodLookup/type ?type]  
  [?methodLookup :MethodLookup/descriptor ?descriptor]
  [?methodLookup :MethodLookup/simplename ?simplename] ]

[ (LoadInstanceField ?base ?signature ?to ?inmethod)
  [?loadInstanceField :LoadInstanceField/inmethod ?inmethod]
  [?loadInstanceField :LoadInstanceField/to ?to]
  [?loadInstanceField :LoadInstanceField/sig ?signature]
  [?loadInstanceField :LoadInstanceField/base ?base] ]

[ (LoadStaticField ?signature ?to ?inmethod)
  [?loadStaticField :LoadStaticField/inmethod ?inmethod]
  [?loadStaticField :LoadStaticField/to ?to]
  [?loadStaticField :LoadStaticField/sig ?signature] ]

[ (LoadArrayIndex ?base ?to ?inmethod)
  [?loadArrayIndex :LoadArrayIndex/inmethod ?inmethod]                    
  [?loadArrayIndex :LoadArrayIndex/to ?to]
  [?loadArrayIndex :LoadArrayIndex/base ?base] ]

[ (StoreInstanceField ?from ?base ?signature ?inmethod)
  [?storeInstanceField :StoreInstanceField/inmethod ?inmethod]
  [?storeInstanceField :StoreInstanceField/signature ?signature]
  [?storeInstanceField :StoreInstanceField/base ?base]
  [?storeInstanceField :StoreInstanceField/from ?from] ]

[ (StoreStaticField ?from ?signature ?inmethod)
  [?storeStaticField :StoreStaticField/inmethod ?inmethod]                   
  [?storeStaticField :StoreStaticField/signature ?signature]
  [?storeStaticField :StoreStaticField/from ?from] ]

[ (StoreArrayIndex ?from ?base ?inmethod)
  [?storeArrayIndex :StoreArrayIndex/inmethod ?inmethod]
  [?storeArrayIndex :StoreArrayIndex/base ?base]
  [?storeArrayIndex :StoreArrayIndex/from ?from] ]

[ (AssignNormalHeapAllocation ?heap ?var ?inmethod)
  [?assignNormalHeapAllocation :AssignNormalHeapAllocation/inmethod ?inmethod]
  [?assignNormalHeapAllocation :AssignNormalHeapAllocation/var ?var]
  [?assignNormalHeapAllocation :AssignNormalHeapAllocation/heap ?heap] ]  

[ (AssignAuxiliaryHeapAllocation ?heap ?var ?inmethod)
  [?assignAuxiliaryHeapAllocation :AssignAuxiliaryHeapAllocation/inmethod ?inmethod]
  [?assignAuxiliaryHeapAllocation :AssignAuxiliaryHeapAllocation/var ?var]
  [?assignAuxiliaryHeapAllocation :AssignAuxiliaryHeapAllocation/heap ?heap] ]
  
[ (AssignContextInsensitiveHeapAllocation ?heap ?var ?inmethod)
  [?assignContextInsensitiveHeapAllocation :AssignContextInsensitiveHeapAllocation/inmethod ?inmethod]
  [?assignContextInsensitiveHeapAllocation :AssignContextInsensitiveHeapAllocation/var ?var] 
  [?assignContextInsensitiveHeapAllocation :AssignContextInsensitiveHeapAllocation/heap ?heap] ]

[ (AssignLocal ?from ?to ?inmethod)
  [?assignLocal :AssignLocal/inmethod ?inmethod]
  [?assignLocal :AssignLocal/to ?to]
  [?assignLocal :AssignLocal/from ?from] ]      

[ (AssignCast ?type ?from ?to ?inmethod)
  [?assignCast :AssignCast/inmethod ?inmethod]
  [?assignCast :AssignCast/to ?to]
  [?assignCast :AssignCast/from ?from]
  [?assignCast :AssignCast/type ?type] ]  
    
[ (AssignReturnValue ?invocation ?local)
  [?assignReturnValue :AssignReturnValue/to ?local]
  [?assignReturnValue :AssignReturnValue/invocation ?invocation] ]

[ (FormalParam ?index ?method ?formal)
  [?formalParam :FormalParam/var ?formal]
  [?formalParam :FormalParam/method ?method]
  [?formalParam :FormalParam/index ?index] ]

[ (ActualParam ?index ?invocation ?actual)
  [?actualParam :ActualParam/var ?actual]
  [?actualParam :ActualParam/invocation ?invocation]
  [?actualParam :ActualParam/index ?index] ]

[ (ReturnVar ?return ?method)
  [?returnVar :ReturnVar/method ?method] 
  [?returnVar :ReturnVar/var ?return] ]
        


[ (VarPointsTo ?heap ?var)
  (Reachable ?inmethod)
  (AssignNormalHeapAllocation ?heap ?var ?inmethod) ]

[ (VarPointsTo ?heap ?var)
  (Reachable ?inmethod)
  (AssignAuxiliaryHeapAllocation ?heap ?var ?inmethod) ]

[ (VarPointsTo ?heap ?var)
  (Reachable ?inmethod)
  (AssignContextInsensitiveHeapAllocation ?heap ?var ?inmethod) ]

[ (VarPointsTo ?heap ?to)
  (Assign ?type ?from ?to)
  (VarPointsTo ?heap ?from)
  (HeapAllocationType ?heap ?heaptype)
  (AssignCompatible ?type ?heaptype) ]

[ (VarPointsTo ?heap ?to)
  (Reachable ?inmethod)
  (AssignLocal ?from ?to ?inmethod)
  (VarPointsTo ?heap ?from) ]


[ (Assign ?type ?from ?to)
  (Reachable ?inmethod)
  (AssignCast ?type ?from ?to ?inmethod) ] 


[ (CallGraphEdge ?invocation ?tomethod)
  (Reachable ?inmethod)
  (StaticMethodInvocation ?invocation ?signature ?inmethod)
  (MethodDeclaration ?signature ?tomethod) ]	


[ (Reachable ?tomethod)
  (Reachable ?inmethod)
  (StaticMethodInvocation ?invocation ?signature ?inmethod)   
  (MethodDeclaration ?signature ?tomethod) ]

]
